In [1]:
import requests
import json
import pandas as pd
import numpy as np

In [2]:
auth_header = {'Authorization': 'BEARER eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MTM5ODI0NzgsInR5cGUiOiJleHRlcm5hbCIsInVzZXIiOiJ0aW5tYi4xMjM0QGdtYWlsLmNvbSJ9.zj7KXAuTQyypFJsCNPN1qJ_EilwnJzhoyuON4aPZDlatshO6ZbM7J4nszCQFbHY26AX5Mj9X-leYye6mAQbCMg'}

In [3]:
response=requests.get("https://api.estadisticasbcra.com/inflacion_mensual_oficial", headers=auth_header)

In [4]:
data = json.loads(response.text)
df_inflacion = pd.json_normalize(data)
df_inflacion.head()

            d     v
0  1990-01-31  79.2
1  1990-02-28  61.6
2  1990-03-31  95.5
3  1990-04-30  11.4
4  1990-05-31  13.6

In [5]:
df_inflacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399 entries, 0 to 398
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   d       399 non-null    object
 1   v       399 non-null    float64
dtypes: float64(1), object(1)
memory usage: 6.4+ KB

In [6]:
df_inflacion['d'] = pd.to_datetime(df_inflacion['d'])
df_inflacion.set_index('d', inplace=True)
df_inflacion.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 399 entries, 1990-01-31 to 2023-03-31
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v       399 non-null    float64
dtypes: float64(1)
memory usage: 6.2 KB

In [8]:
def inflacion_acumulada(x):
    x = np.array(x)
    return (np.prod(x / 100 + 1) - 1) * 100

In [9]:
inflacion_trimestral = df_inflacion.resample('Q').apply(inflacion_acumulada)

In [10]:
inflacion_trimestral.tail()

                    v
d
2022-03-31  16.071781
2022-06-30  17.310518
2022-09-30  22.042916
2022-12-31  17.195644
2023-03-31  21.696692

In [11]:
df_inflacion_final = pd.concat([df_inflacion, inflacion_trimestral], axis=1)
df_inflacion_final.columns = ['Inflacion mensual', 'Inflacion trimestral']
df_inflacion_final.tail()

            Inflacion mensual  Inflacion trimestral
d
2022-11-30                4.9                   NaN
2022-12-31                5.1             17.195644
2023-01-31                6.0                   NaN
2023-02-28                6.6                   NaN
2023-03-31                7.7             21.696692

In [13]:
# Añadimos 1 día a cada registro así concide con el formato de nuestros datos de ingresos trimestrales
from datetime import timedelta
df_inflacion_final.index = df_inflacion_final.index + timedelta(days=1)

In [14]:
df_inflacion_final.tail()

            Inflacion mensual  Inflacion trimestral
d
2022-12-01                4.9                   NaN
2023-01-01                5.1             17.195644
2023-02-01                6.0                   NaN
2023-03-01                6.6                   NaN
2023-04-01                7.7             21.696692

In [19]:
df_inflacion_final = df_inflacion_final['2014-04-01':'2022-07-01']
df_inflacion_final

            Inflacion mensual  Inflacion trimestral
d
2014-04-01                2.6              9.907582
2014-05-01                1.8                   NaN
2014-06-01                1.4                   NaN
2014-07-01                1.3              4.567128
2014-08-01                1.4                   NaN
...                       ...                   ...
2022-03-01                4.7                   NaN
2022-04-01                6.7             16.071781
2022-05-01                6.0                   NaN
2022-06-01                5.1                   NaN
2022-07-01                5.3             17.310518

[100 rows x 2 columns]

In [20]:
df_inflacion_final.to_csv('df_inflacion.csv')

## Ahora calculamos el crecimieto real de nuetros ingresos removiendo el peso de la inflación de nuestros números de crecimiento

In [31]:
df_ingresos = pd.read_csv('df_ingresos.csv', parse_dates=True, index_col='datetime')

In [39]:
df_ingresos.rename(columns={'Ingresos (miles de pesos)':'Ingresos (cambio porcentual)'}, inplace=True)
df_ingresos.dropna(inplace=True)

In [61]:
df_ingresos.head()

            Ingresos (cambio porcentual)
datetime
2014-04-01                      9.609813
2014-07-01                      6.353827
2014-10-01                     13.562866
2015-01-01                     23.439003
2015-04-01                     -3.580398

In [60]:
df_inflacion_final['Inflacion trimestral'].dropna().head()

d
2014-04-01    9.907582
2014-07-01    4.567128
2014-10-01    4.156255
2015-01-01    3.336332
2015-04-01    3.336029
Name: Inflacion trimestral, dtype: float64

In [64]:
crecimiento_real = (((1 + df_ingresos['Ingresos (cambio porcentual)'] / 100) / (1 + df_inflacion_final['Inflacion trimestral'].dropna() / 100)) - 1) * 100
crecimiento_real.head()

datetime
2014-04-01    -0.270927
2014-07-01     1.708663
2014-10-01     9.031249
2015-01-01    19.453634
2015-04-01    -6.693142
dtype: float64

In [66]:
crecimiento_real.to_csv('df_crecimiento_real.csv')